/*
===============
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
===============
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*
===============
Global Styles
===============
*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Adjust the height as needed */
    overflow: hidden;
}

.container .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Additional styling for the content */
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/image3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

body {
    font-family: var(--ff-secondary);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
    background-color: #495057;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.logo) {
    width: 100%;
}

img {
    display: block;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
    color: #fff;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: #fff;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*  global classes */

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-white);
    background: var(--clr-black);
}

/* section */
.section {
    padding: 5rem 0;
}


main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/*
=============== 
Keyboard
===============
*/

.keyboard {
    padding: 5rem 0;
}

.title h2 {
    text-align: center;
    margin: 2rem;
    background-color: #495057;
    color: white;

}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--clr-gold);
    margin-left: auto;
    margin-right: auto;
}

.btn-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.filter-btn {
    background: #ed9898;
    border-color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: var(--radius);
    padding: 0.375rem 0.75rem;
    color: var(--clr-gold);
    cursor: pointer;
    transition: var(--transition);
}

.filter-btn:hover {
    background: var(--clr-gold);
    color: var(--clr-white);
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}

.keyboard-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.photo {
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid var(--clr-gold);
    border-radius: var(--radius);
}

.item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--clr-grey-5);
}

.item-info h4 {
    margin-bottom: 0.5rem;
}

.price {
    color: #fff;
}

.item-text {
    margin-bottom: 0;
    padding-top: 1rem;
}

@media screen and (min-width: 768px) {
    .keyboard-item {
        grid-template-columns: 225px 1fr;
        gap: 0 1.25rem;
        max-width: 40rem;
    }

    .photo {
        height: 175px;
    }
}

@media screen and (min-width: 1200px) {
    .section-center {
        width: 95vw;
        grid-template-columns: 1fr 1fr;
    }

    .photo {
        height: 150px;
    }
}

/*
===============Navbar===============*/
nav {
    background: var(--clr-black);
    box-shadow: var(--light-shadow);
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
}

.logo {
    height: 40px;
}

.links a {
    color: var(--clr-white);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}

.links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
}

.social-icons {
    display: none;
}

.links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 10rem;
}

@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .nav-header {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }

    .links a {
        padding: 0;
        margin: 0 0.5rem;
    }

    .links a:hover {
        padding: 0;
        background: transparent;
    }

    .social-icons {
        display: flex;
    }

    .social-icons a {
        margin: 0 0.5rem;
        color: var(--clr-primary-5);
        transition: var(--transition);
    }

    .social-icons a:hover {
        color: var(--clr-primary-7);
    }
}


/*
===carousel===*/
.carousel {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

/*
===vision-mission===*/
.vision-mission {
    position: relative;
    text-align: center;
    /* Align text to the left */
    font-family: Arial, sans-serif;
    padding: 5em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5em 10em;
    color: rgb(0, 0, 0);
    background-image: url('./images/image5.jpg');
    /* Replace 'path_to_your_image.jpg' with the actual path to your image */
    background-size: cover;
    /* Ensure the background image covers the entire section */
    background-position: center;
    /* Center the background image */
}

.vision-mission strong {
    color: #dcdcdc;
}

.vision-mission p {
    line-height: 1.6;
    color: rgb(255, 255, 255);
    padding: 0em 10em;
    margin: 0 5em;
    /* padding: em 5em; */
    /* margin: 5em 5em; */
}

/* Responsive Layout */
@media (max-width: 768px) {
    .vision-mission {
        padding: 3em;
        margin: 3em;
    }

    .vision-mission p {
        padding: 1em 2em;
        margin: 2em 2em;
    }
}

/* 
===featured===
.featured{
    background-color: #adb5bd;
}

.featured-products {
    text-align: center;
    padding: 20px;
}

.product-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.product {
    margin: 20px;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product h3 {
    margin: 10px 0;
} */

/* footer */
/* Default styles for footer */
footer {
    background-color: #1f1e1e;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #ffffff;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: #af5f5f;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    footer nav ul li {
        display: block;
        margin: 10px 0;
    }
}


/* Terms and Condition */
.terms {
    background-color: #dcdcdc;
    color: black;
    text-align: left;
    padding: 1em 4em;
    margin: 2em 10em;
    border-radius: 5px;
}

.terms h1 {
    text-align: center;
}

.terms p {
    color: black;
}

.terms ul {
    list-style: disc;
    padding-left: 2em;
}



/* contact */
.container-contact {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #beb0b0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #867e7e;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    height: 100px;
}

.form-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #0056b3;
}


/* product details */
.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em 5em;
    background-color: rgb(108, 108, 107);
    /* Set the background color to beige */
    padding: 5em;
    /* Add padding for spacing */
}

.product-image {
    width: 30%;
    /* Adjust the width as needed */
    text-align: center;
    /* Center the image */
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    width: 70%;
    /* Adjust the width as needed */
    padding: 0 2em;
}

.product-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.product-info p {
    margin-bottom: 0.5em;
    line-height: 1.5;
}

/*
=============== 
Frequently Asked Questions
===============
*/
.section-center-question h3 {
    color: black;
    background-color: #f5f0d5;
    text-align: center;
    border-radius: 5px;
    padding: .2em 2em;
}

.section-center-question {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px) {
    .section-center-question {
        width: 95vw;
    }
}

.section-center-question {
    max-width: var(--fixed-width);
}

.question{
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
}

.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.question p {
    margin-bottom: 0;
    letter-spacing: var(--spacing);
    color: var(--clr-grey-1);
}

.question-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: var(--clr-gold);
    transition: var(--transition);
}

.question-btn:hover {
    transform: rotate(90deg);
}

.question-text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

}

.question-text p {
    margin-bottom: 0;
    color: black;
}

/* hide text */
.question-text {
    display: none;
}

.show-text .question-text {
    display: block;
}

.minus-icon {
    display: none;
}

.show-text .minus-icon {
    display: inline;
}

.show-text .plus-icon {
    display: none;
}

/*
===carousel===*/
.carousel {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}